<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">

</head>
<body>
<script>
    let action_login = true;

    function makeAction() {
        const login = document.getElementById("login").value;
        const password = document.getElementById("password").value;
        console.log(login, password)
        const xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState === 4) {
                const jsonResponse = JSON.parse(this.responseText);
                if (jsonResponse['success'] === false) {
                    if (jsonResponse['display_error'] === true) {
                        document.getElementById("response").innerText = jsonResponse["error_text"]
                    }
                } else {
                    document.getElementById("response").innerText = "Successfully!"
                    document.cookie = `session=${jsonResponse['token']}; expires=Fri, 31 Dec 9999 23:59:59 GMT; path=/`;
                    document.cookie = `user_id=${jsonResponse['user_id']}; expires=Fri, 31 Dec 9999 23:59:59 GMT; path=/`;
                    window.location.href = "./chats"
                }

            }
        };
        if (action_login) {
            xhttp.open("GET", `api/login?login=${login}&password=${password}`, true);
            xhttp.send();
        } else {
            xhttp.open("POST", `api/register`, true);
            xhttp.send(JSON.stringify({"login": login, "password": password}));
        }
    }

    function makeRegister() {
        action_login = false
        document.getElementById("actionName").innerHTML = "Register"
        document.getElementById("alternativeAction").innerHTML = `or <a class="actionClickable" onclick="makeLogin()">login</a><h2>`;
        document.getElementById("submitButton").innerHTML = "Register"
    }

    function makeLogin() {
        action_login = true
        document.getElementById("actionName").innerHTML = "Login"
        document.getElementById("alternativeAction").innerHTML = `or <a class="actionClickable" onclick="makeRegister()">register</a><h2>`;
        document.getElementById("submitButton").innerHTML = "Login"
    }

</script>

<div class="login">
    <br>
    <h1 id="actionName">Login</h1>
    <h2 id="alternativeAction">or <a class="actionClickable" onclick="makeRegister()">register</a></h2><br>

            <form id="actionForm">
                <label><input type="text" id="login" name="login"></label><br>
                <label><input type="password" id="password" name="password"></label><br>

                <button id="submitButton" type="button" onclick="makeAction()">Login</button>
{#                <input type="submit" hidden />#}

                <div id="response"></div>
            </form>
</div>

</body>
</html>